* {
    text-decoration: none;
    color: #000000;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-feature-settings: "liga" 0;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 70px;
    border-top: 5px solid #c2e6e9;
    border-bottom: 5px solid #c2e6e9;
    background-color: #99d7db;
}

h1 {
    font-size: 30px;
    letter-spacing: 1.5px;
    position: fixed;
    font-family: 'Oswald', sans-serif;
    font-feature-settings: "liga" 0;
    top: -3px;
    left: 90px;
    text-decoration: none;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-feature-settings: "liga" 0;
    text-align: right;
    letter-spacing: 0.25vw;
    padding-right: 3vw;
    font-size: 2.75vw;
    margin-top: 1vw;
}

strong {
    font-family: 'Oswald', sans-serif;
    font-feature-settings: "liga" 0;
    letter-spacing: .1vw;
}

address {
    font-style: normal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

header img {
    width: 50px;
    position: fixed;
    top: 15px;
    left: 25px;
}

nav {
    display: flex;
    justify-content: right;
    margin-top: 25px;
    margin-right: 10px;
    letter-spacing: .75px;
}

nav a {
    padding-right: 20px;
}

#Home,
#About,
#Services,
#Clients,
#Samples,
#Contact {
    scroll-margin-top: 80px;
}

.Section_Header {
    clear: both;
    background-color: #c2e6e9;
    border-top: 5px solid #99d7db;
    border-bottom: 5px solid #99d7db;
}

.Section_Tagline {
    text-align: right;
    padding-right: 3vw;
    font-size: 1.75vw;
    margin-top: -2vw;
    font-weight: lighter;
}

.Home {
    background-color: #5a5a5a;
}

.Home img {
    width: 100vw;
    margin-top: 70px;
    background-color: #ffffff;
}

.Home p {
    font-size: 1.7vw;
    letter-spacing: .1em;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    font-feature-settings: "liga" 0;
    font-weight: bold;
}

.Centered_Flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Centered_Flexbox>* {
    width: 28vw;
    margin: 1vw calc(8vw /3);
    text-align: center;
    font-size: 1.1vw;
    letter-spacing: .025vw;
    line-height: 2vw;
    color: #5E5E5E;
    font-weight: lighter;
}

.Samples img {
    width: 100%;
}

footer {
    background-color: #99d7db;
    border-top: 5px solid #c2e6e9;
    overflow: auto;
    padding: 1vw 3vw 2vw 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: min(1.9vw, 24px);
}

.Left_Aligned {
    text-align: left;
}

.Right_Aligned {
    text-align: right;
}

.Right_Aligned div * {
    display: inline-block;
}

.GSA_Logo {
    width: min(6vw, 75px);
    margin-left: 1vw;
}

.LinkedIn_Logo {
    width: min(3vw, 50px);
    position: relative;
    top: 0.75vw;
}

@media screen and (max-width: 992px) {
    .Centered_Flexbox * {
        width: 42vw;
    }

    nav {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .Centered_Flexbox * {
        width: 50vw;
    }
}