/* Allows simpler use of padding, border, and margin. */
/* Also fixes the issue of the static header taking up the top of the screen when you hashtag link to a spot on the website. */
* {
    box-sizing: border-box;
    scroll-margin-top: 80px;
}

/* Sets a default font for the website. */
body {
    font-family: 'Quicksand', sans-serif;
    font-feature-settings: "liga" 0;
}

/* Sets a secondary font for impactful elements on the website. */
h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-family: 'Oswald', sans-serif;
    font-feature-settings: "liga" 0;
}

/* This adds a little letter spacing to strong text. */
strong {
    letter-spacing: .1vw;
}

/* Removes the default underline/color applied to links. */
a {
    text-decoration: none;
    color: #000000;
}

/* Removes the default italicize applied to addresses. */
address {
    font-style: normal;
}

/* Builds the static blue bar at the top of the website. */
header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    border-top: 5px solid #c2e6e9;
    border-bottom: 5px solid #c2e6e9;
    background-color: #99d7db;
}

/* Sets the position and size of the static logo on the header. */
header img {
    position: fixed;
    width: 50px;
    top: 15px;
    left: 3%;
}

/* Sets the position and style of the static title on the header. */
h1 {
    position: fixed;
    top: 2px;
    left: calc(3% + 65px);
    font-size: 30px;
    letter-spacing: 1.5px;
}

/* Sets the position of the static navigation menu on the header when using a wide browser. */
nav {
    float: right;
    margin: 26px 3% 0px 0px;
    letter-spacing: .75px;
}

/* Adds seperation between elements in the navigation menu. */
nav * {
    padding-left: 20px;
}

.Home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Sets the size position and color of the banner image below the header. */
.Home img {
    width: 100%;
    margin-top: 80px;
    background-color: #ffffff;
}

/* Sets the font size and position of the main tagline below the banner image. */
.Home p {

    font-size: clamp(18px, 1.75vw, 27.5px);
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 2.5vw;
    color: #FFFFFF;
    background-color: #5a5a5a;
}

/* The only way to increase the letter spacing without making it a header */
.Home strong {
    letter-spacing: .25vw;
}

/* Sets the color scheme of all section headers. */
.Section_Header {
    background-color: #c2e6e9;
    border-top: 5px solid #99d7db;
    border-bottom: 5px solid #99d7db;
}

/* Sets the style for all section headers main font. */
h2 {
    font-size: clamp(20px, 2.75vw, 27.5px);
    letter-spacing: 0.25vw;
    padding-left: 3%;
    margin-top: 2vw;
}

/* Sets the style for all section headers secondary font. */
.Section_Tagline {
    padding-left: 3%;
    font-size: clamp(18px, 1.75vw, 25px);
    margin-top: clamp(-10px, -1.5vw, 0px);
    font-weight: lighter;
}

/* Standard full-width centered flexbox. */
.Centered_Flexbox {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

/* Standard element for a flex box that makes 3 neat columns. */
.Centered_Flexbox>* {
    width: calc(100%/3);
    padding: 1% 3%;
    text-align: center;
    font-size: clamp(16px, 1.1vw, 20px);
    letter-spacing: .025vw;
    color: #5E5E5E;
    font-weight: lighter;
}

/* Causes the sample images to fill the flex elements. */
.Samples img {
    width: 100%;
}

footer {
    background-color: #99d7db;
    border-top: 5px solid #c2e6e9;
    overflow: auto;
    padding: 1vw 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: min(1.9vw, 14px);
}

.Left_Aligned {
    text-align: left;
}

.Right_Aligned {
    text-align: right;
}

.Right_Aligned div * {
    display: inline-block;
}

.GSA_Logo {
    width: min(6vw, 45px);
    margin-left: 1vw;
}

.LinkedIn_Logo {
    width: min(3vw, 25px);
    position: relative;
    top: 0.4vw;
}

@media screen and (max-width: 992px) {
    .Centered_Flexbox * {
        width: 50%;
    }

    nav {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .Centered_Flexbox * {
        width: 100%;
        margin: 0 9%;
    }
}