@charset "UTF-8";

/* CSS Document */

/* Desktop and Global View */

#anchor {
	padding-top: 90px;
	margin-top: -90px;
}

body {
	font-family: 'Quicksand', sans-serif;
	font-feature-settings: "liga" 0;
	width: 100%;
	height: 100%;
	margin: 0%;
	padding: 0%;
}

sup {
	vertical-align: top;
	font-size: .6em;
	position: relative;
	top: -.5em;
}

.Section_Header {
	clear: both;
	background-color: #c2e6e9;
	border-top: 5px solid #99d7db;
	border-bottom: 5px solid #99d7db;
}

.Section_Header h2 {
	color: #000000;
	letter-spacing: 2px;
	text-align: right;
	padding-right: 30px;
	margin-top: 12px;
	margin-bottom: -12px;
	font-family: 'Oswald', sans-serif;
	font-feature-settings: "liga" 0;
}

.Section_Header p {
	color: #000000;
	text-align: right;
	padding-right: 30px;
	font-weight: lighter;
}

.Default_Section_Link {
	padding-top: 200px;
	margin-top: -200px;
}

/* Top Navigation Bar */

.slicknav_menu {
	display: none;
}

h1 {
	/*Had to put this to stop .Company_Name from forcing the header down */
	padding: 0;
	margin: 0;
}

.Company_Logo img {
	width: 48px;
	float: left;
	margin-top: 16px;
	margin-left: 30px;
	position: fixed;
	z-index: 1001;
}

.Company_Name {
	color: #000000;
	font-size: 24pt;
	letter-spacing: 1px;
	text-align: left;
	float: left;
	margin-top: 14px;
	margin-left: 95px;
	position: fixed;
	z-index: 1000;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	font-feature-settings: "liga" 0;
}

header {
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 70px;
	border-top: 5px solid #c2e6e9;
	border-bottom: 5px solid #c2e6e9;
	background-color: #99d7db;
}

.Navigation_List {
	float: right;
	margin-top: 25px;
	margin-right: 10px;
}

.Navigation_List li {
	float: left;
	padding-right: 20px;
	list-style: none;
}

.Navigation_List li a {
	color: #000000;
	text-decoration: none;
	letter-spacing: .75px;
}

/* Home Section */

.Home_Banner {
	border-top: 80px solid #FFFFFF;
}

.Home_Banner img {
	max-height: 575px;
	max-width: 1560px;
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.Home_Background {
	background-color: #5E5E5E;
}

.Home_Tagline {
	font-size: 1.7vw;
	letter-spacing: .1em;
	display: inline-block;
	width: 100%;
	text-align: center;
	color: #FFFFFF;
	font-family: 'Oswald', sans-serif;
	font-feature-settings: "liga" 0;
	font-weight: bold;
}

.Home_Link {
	padding-top: 9999px;
	margin-top: -9999px;
}

/* About Us Section */
.About_Us {
	display: inline-block;
	margin-top: 2%;
	margin-bottom: 2%;
}

.About_Us p {
	float: left;
	width: 28%;
	margin-left: 4%;
	margin-bottom: 2%;
	text-align: center;
	font-size: 1.10vw;
	letter-spacing: .025vw;
	line-height: 2vw;
	color: #5E5E5E;
	font-weight: lighter;
}

.About_Us p span {
	font-family: 'Oswald', sans-serif;
	font-feature-settings: "liga" 0;
	letter-spacing: .05vw;
}

/* Services Section */
.Services_Container {
	/* Had to put this to center Services */
	text-align: center;
}

.Services {
	display: inline-block;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2.5%;
	max-width: 1300px;
}

.Services_Image_Little_Bump {
	float: left;
	width: 20%;
	margin-top: -2.5%;
	margin-left: 5%;
}

.Services_Image,
.Services_Image_Center_Column {
	float: left;
	width: 20%;
	margin-top: -2.5%;
	margin-left: 8%;
}

.Services_Image_Big_Bump {
	float: left;
	width: 20%;
	margin-top: -2.5%;
	margin-left: 19%;
}

/* Portfolio Section */
.Portfolio {
	width: 99.99%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.Portfolio_Column {
	width: 33.333%;
	text-align: center;
	float: left;
	margin-bottom: 2%;
}

.Portfolio_Column h3 {
	font-size: 2.4vw;
	font-size: max(30px);
	font-family: 'Oswald', sans-serif;
	font-feature-settings: "liga" 0;
	color: #5E5E5E;
}

.Portfolio_Image {
	width: 75%;
}

/*Clients Section*/
.Client_Button button {
	float: left;
	margin-top: 20pt;
	margin-left: 6.25%;
	width: 25%;
	height: 48pt;
	border-radius: 8px;
	background-color: #5E5E5E;
	color: #FFFFFF;
	font-size: 12px;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}

.Client_Button button:hover {
	background-color: #BDBDBD;
	color: #000000;
}

.Client_Button>p {
	display: none;
	position: absolute;
	width: 50%;
	padding-left: 25%;
	padding-right: 25%;
	margin-top: 400px;
	font-size: 12pt;
	text-align: center;
}

.Client_Button:hover>p {
	display: block;
}

.Client_Area {
	height: 600px;
}

/* Awards Section */
.Award {
	float: right;
	clear: right;
	margin-right: 30px;
	margin-bottom: 10px;
}

.Award img {
	height: 47px;
	padding-right: 10px;
}

.Award>p {
	display: inline-block;
	color: #00538E;
	font-size: 11pt;
	line-height: 18px;
}

/* Contact Us Section */

.Contact_Us_Background {
	clear: both;
	overflow: auto;
	border-top: 5px solid #c2e6e9;
	background-color: #5E5E5E;
	padding-top: 5px;
	padding-bottom: 5px;
}

.Contact_Us_Left {
	float: left;
	margin-left: 30px;
}

.Contact_Us_Left p {
	color: #FFFFFF;
}

.Contact_Us_Left p a {
	text-decoration: none;
}

.Contact_Us_Left p em {
	color: #99d7db;
	font-style: normal;
}

.Contact_Us_Left img {
	height: 25px;
}

.Contact_Us_Right_Media {
	float: right;
	clear: right;
	margin-right: 30px;
	margin-bottom: 4px;
}

.Contact_Us_Right_Media p {
	display: inline-block;
}

.Contact_Us_Right_Media img {
	height: 16px;
	padding-right: 5px;
}

.Contact_Us_Right_Media p a {
	color: #99d7db;
	text-decoration: none;
}

.Contact_Us_Right_Copyright {
	float: right;
	clear: right;
	margin-right: 30px;
	text-align: right;
	color: #FFFFFF;
}

.Contact_Us_Link {
	height: 0px;
}

/* Tablet Switch */

@media (max-width: 1025px) {

	.slicknav_menu {
		display: block;
		z-index: 999;
	}

	.Company_Name {
		text-align: center;
		margin-top: 15px;
	}

	header {
		display: none;
	}

	.About_Us p {
		width: 45%;
		margin-left: 5%;
		text-align: center;
		line-height: 3.2vw;
		letter-spacing: .05vw;
		font-size: 1.7vw;
	}

	.About_Us p span {
		letter-spacing: .15vw;
	}

	.Services_Image_Little_Bump,
	.Services_Image,
	.Services_Image_Big_Bump {
		margin-top: -2%;
		margin-left: 10%;
		width: 35%;
	}

	.Services_Image_Center_Column {
		margin-top: -2%;
		margin-left: 32.5%;
		width: 35%;
	}

	.Client_Button>p {
		width: 75%;
		font-size: 10pt;
		padding-left: 12.5%;
		padding-right: 12.5%;
	}
}

/* Mobile Switch */

@media (max-width: 500px) {

	.Section_Header {
		height: 70px;
	}

	.Section_Header h2 {
		letter-spacing: 1px;
		font-size: 15pt;
		margin-top: -.5px;
		padding-right: 5%;
	}

	.Section_Header p {
		line-height: 18px;
		font-size: 9pt;
		padding-right: 5%;
	}

	.Default_Section_Link {
		padding-top: 134px;
		margin-top: -134px;
	}

	.Company_Logo img {
		width: 30px;
		margin-top: 11.5px;
		margin-left: 15px;
	}

	.Company_Name {
		font-size: 18pt;
		margin-top: 5.75pt;
		margin-left: 60px;
	}

	.Home_Banner {
		border-top: 55px solid #FFFFFF;
	}

	.Home_Tagline {
		letter-spacing: .1em;
		font-size: 2.5vw;
	}

	.About_Us {
		margin-top: 1%;
		margin-bottom: 5%;
	}

	.About_Us p {
		width: 90%;
		text-align: left;
		line-height: 6vw;
		letter-spacing: .02vw;
		font-size: 3.3vw;
	}

	.About_Us p span {
		letter-spacing: .25vw;
	}

	.Services_Image_Little_Bump,
	.Services_Image,
	.Services_Image_Big_Bump {
		margin-left: 5%;
		width: 42.5%;
	}

	.Services_Image_Center_Column {
		margin-left: 28.75%;
		width: 42.5%;
	}

	.Portfolio_Column {
		width: 100%;
	}

	.Portfolio_Column h3 {
		font-size: 6.8vw;
	}

	.Client_Button>p {
		width: 90%;
		font-size: 2.7vw;
		padding-left: 5%;
		padding-right: 5%;
	}

	.Client_Area {
		height: 590px;
	}

	.Award {
		float: none;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.Award img {
		padding-right: 0px;
	}

	.Award>p {
		display: block;
		font-size: 3.25vw;
		line-height: 4vw;
	}

	.Contact_Us_Left {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

	.Contact_Us_Left p {
		text-align: center;
	}

	.Contact_Us_Left img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.Contact_Us_Right_Media {
		float: none;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: -5%;
	}

	.Contact_Us_Right_Copyright {
		float: none;
		text-align: center;
		margin-right: 0%;
		margin-left: 0%;
	}
}